name: oasis-devcontainer
services:
  builder_devenv:
    extends:
      file: docker-compose.yaml
      service: builder
    image: oasis/devenv
    build:
      context: ./devcontainer
      target: devenv
    command: /bin/sh -c "while sleep 1000; do :; done"
    ports:
      - 8192:8192/udp
    tty: true
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    volumes:
      - ./..:/code
      - ./build:/code/build
      - ./conan:/home/ubuntu/.conan
      - ~/.ssh:/home/ubuntu/.ssh
    # network_mode: service:db
